.product-row-container{
    width: 210%;
    margin: 0 auto;
    min-height: 1px;
    border: 1px solid red;
    padding: 1px;
    margin-top: 2px;
    margin-left: 20px;
    text-align: left;
   
}


